<header class="container-fluid d-flex flex-row align-items-center justify-content-between p-3 bg-dark text-white">
    <div class="header-title">
        <b sec:authentication="name"></b> with roles:
        <th:block th:each="role : ${#authentication.authorities}">
            <span th:text="${role.getAuthority().toString()}"></span>
        </th:block>
    </div>
    <div class="header-logout">
        <form th:action="@{/logout}" th:method="POST">
            <input class="text-white-50 button-style-none" type="submit" value="Logout">
        </form>
    </div>
</header>