<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ITS Studio. Spring Security CRUD App</title>

<!--    <link rel="shortcut icon" th:href="@{/img/favicon-16.png}" type="image/x-icon"/>-->
<!--    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/favicon-57.png}">-->
<!--    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/favicon-72.png}">-->
<!--    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/favicon-114.png}">-->
<!--    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/favicon-144.png}">-->

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>