<head th:replace="fragments/head :: head"><title></title></head>
<body>

<header th:replace="fragments/header :: header"></header>

<div class="container-fluid d-flex flex-row vh-100 p-0">
    <div th:replace="fragments/navigation :: navigation(currentPage='user')"></div>

    <div class="flex-grow-1 bg-light px-4 py-3">
        <h1 class="panel-title">User information-page</h1>
        <div class="container-fluid">
            <div class="row border border-bottom-0 border-top-radius-5">
                <h5 class="m-3 ml-3">About user</h5>
            </div>
            <div class="row border bg-white pb-2 border-bottom-radius-5">
                <table class="table table-borderless m-3">
                    <thead>
                    <tr class="border-top">
                        <th scope="col">ID</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Age</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-top bg-light" th:object="${user}">
                        <td th:text="*{id}"/>
                        <td th:text="*{name}"/>
                        <td th:text="*{surname}"/>
                        <td th:text="*{age}"/>
                        <td th:text="*{username}"/>
                        <td>
                            <th:block th:each="role : *{getRoles()}">
                                <span th:text="${role.toString()} + ' '"/>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>