<table class="table table-borderless m-3">
  <thead>
  <tr class="border-top">
    <th scope="col">ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Age</th>
    <th scope="col">Email</th>
    <th scope="col">Roles</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr class="border-top bg-light" th:each="user, rowStat : ${users}"
      th:classappend="${rowStat.count % 2 != 0 ? 'table-secondary' : 'table-light'}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.surname}"></td>
    <td th:text="${user.age}"></td>
    <td th:text="${user.username}"></td>
    <td>
      <th:block th:each="role : ${user.getRoles()}">
        <span th:text="${role.toString()} + ' '"></span>
      </th:block>
    </td>
    <td>
      <a th:href="@{/admin/{id}/profile(id=${user.id})}"
         class="btn btn-sm btn-info edit-button">Edit</a>
    </td>
    <td>
      <a th:href="@{/admin/{id}/profile(id=${user.id})}"
         class="btn btn-sm btn-danger delete-button">Delete</a>
    </td>
  </tr>
  </tbody>
</table>