<div class="container col-4 form-group text-center">
    <form role="form" id="user-addform" th:action="@{/admin}" th:method="post" th:object="${user}">
    <div class="mt-3">
        <label for="newName">First name</label>
        <input th:field="${user.name}"
               type="text" class="form-control" placeholder="Enter name"
               id="newName">
    </div>
    <div class="mt-2">
        <label for="newSurname">Last name</label>
        <input th:field="${user.surname}"
               type="text" class="form-control" placeholder="Enter surname" id="newSurname">
    </div>
    <div class="mt-2">
        <label for="newAge">Age</label>
        <input th:field="${user.age}"
               type="number" class="form-control" placeholder="Age"
               id="newAge">
    </div>
    <div class="mt-2">
        <label for="newEmail">E-mail</label>
        <input th:field="${user.email}"
               type="text" class="form-control" placeholder="Enter e-mail"
               id="newEmail" autocomplete="username">
    </div>
    <div class="mt-2" id="password-div">
        <label for="newPassword">Password</label>
        <input th:field="${user.password}"
               type="password" class="form-control" placeholder="Enter password"
               id="newPassword" name="password" autocomplete="current-password">
    </div>
    <div class="mt-2">
        <label for="newRoles" >Role</label>
        <select multiple class="form-control" id="newRoles" name="roles">
            <option th:each="role : ${allRoles}"
                    th:text="${role.toString()}"
                    th:value="${role.id}">
        </select>
    </div>
    <div>
        <button type="submit" class="btn btn-success mt-3">Add new User</button>
    </div>
    </form>
</div>