<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<div>
    <th:block th:each="usr : ${users}">
        <a th:href="@{/admin/user/{id}(id=${usr.getId()})}" th:text="${usr.getUsername()} + ' (' + ${usr.getName()} + ' ' + ${usr.getSurname()} + ')'">user</a>
        <hr>
    </th:block>
</div>
<div>
    <a href="/admin/users/create">
        <button>Зарегистрировать нового пользователя</button>
    </a>
</div>
<hr>
<div th:insert="~{users/logout :: 'logout'}"></div>
</body>
</html>