<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>
<h1 th:text="'Удалить пользователя ' + ${deletableUser.getUsername() + '?'}">Delete user?</h1>
<br>
<form th:object="${deletableUser}" th:action="@{/admin/user/{id}/delete(id=${deletableUser.getId()})}" method="post" class="form-example">

    <div hidden class="form-example">
        <input type="text" maxlength="45" th:value="${deletableUser.getUsername()}" name="username" id="username">
    </div>

    <a th:href="@{/admin/user/{id}(id=${deletableUser.getId()})}">
        <button type="button" style="background-color: #8dc073">Нет</button>
    </a>
    <br>
    <br>
    <div class="form-example">
        <input type="submit" style="background-color: #c07f73" value="Да">
    </div>
</form>
<hr>
<div th:insert="~{users/logout :: 'logout'}"></div>
</body>
</html>