<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <p th:text="${user.getName()}">VALUE</p>
    <p th:text="${user.getSurname()}">VALUE</p>
    <p th:text="${user.getAge()}">VALUE</p>
    <p th:text="${user.getRoles()}">VALUE</p>
    <p th:text="${user.getUsername()}">VALUE</p>
    <a href="/admin/users">
        <button>Назад</button>
    </a>
    <a th:href="@{/admin/user/{id}/update(id=${user.getId()})}">
        <button type="submit" style="background-color: #c0bc73">Редактировать</button>
    </a>
    <a th:href="@{/admin/user/{id}/delete(id=${user.getId()})}">
        <button type="submit" style="background-color: #b77070">Удалить</button>
    </a>
</div>
<hr>
<div th:insert="~{users/logout :: 'logout'}"></div>
</body>
</html>