<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:action="@{/admin/user/{id}/update(id=${updatableUser.getId()})}" method="post" class="form-example">
    <fieldset>
        <legend>Данные пользователя</legend>
        <br>
        <div class="form-example">
            <label for="username">Никнейм: </label>
            <input type="text" maxlength="45" th:value="${updatableUser.getUsername()}" name="username" id="username"
                   required>
        </div>
        <br>
        <div class="form-example">
            <label for="password">Пароль: </label>
            <input type="password" maxlength="45" th:value="${updatableUser.getPassword()}" name="password"
                   id="password" required>
        </div>
        <br>
        <div class="form-example">
            <label for="name">Имя: </label>
            <input type="text" maxlength="45" th:value="${updatableUser.getName()}" name="name" id="name" required>
        </div>
        <br>
        <div class="form-example">
            <label for="surname">Фамилия: </label>
            <input type="text" maxlength="45" th:value="${updatableUser.getSurname()}" name="surname" id="surname">
        </div>
        <br>
        <div class="form-example">
            <label for="age">Возраст: </label>
            <input type="number" max="100" th:value="${updatableUser.getAge()}" name="age" id="age">
        </div>
        <br>
        <label>
            <select size="3" name="roles" multiple id="roles" th:autofocus="${updatableUser.roles}"
                    th:switch="${updatableUser.roles.toString()}">
                <th:block></th:block>
                <th:block th:case="'[ADMIN, COMMON]'">
                    <option disabled>Roles:</option>
                    <option selected value="ROLE_ADMIN">ADMIN</option>
                    <option selected value="ROLE_COMMON">COMMON</option>
                </th:block>
                <th:block th:case="'[COMMON, ADMIN]'">
                    <option disabled>Roles:</option>
                    <option selected value="ROLE_ADMIN">ADMIN</option>
                    <option selected value="ROLE_COMMON">COMMON</option>
                </th:block>
                <th:block th:case="'[ADMIN]'">
                    <option disabled>Roles:</option>
                    <option selected value="ROLE_ADMIN">ADMIN</option>
                    <option value="ROLE_COMMON">COMMON</option>
                </th:block>
                <th:block th:case="'[COMMON]'">
                    <option disabled>Roles:</option>
                    <option value="ROLE_ADMIN">ADMIN</option>
                    <option selected value="ROLE_COMMON">COMMON</option>
                </th:block>
            </select>
        </label>
        <br>
        <div class="form-example">
            <input type="submit" value="Обновить">
        </div>
    </fieldset>
</form>
<hr>
<div th:insert="~{users/logout :: 'logout'}"></div>
</body>
</html>