body {
    background-color: #ffffff;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.is-invalid~.invalid-feedback {
    display: block;
}

.bg-white {
    background-color: #fcfcfc !important;
}

.header-title {
    font-size: 20px;
}

.font-size-navbar {
    font-size: 17px;
}

.button-style-none {
    background-color: rgba(0,0,0,0);
    border: 0;
}

.border-top-right-radius-5 {
    border-top-right-radius: 5px !important;
}

.border-top-radius-5 {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.border-bottom-radius-5 {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.width-navbar {
    width: 18.5%;
}

.navbar-button {
    margin-bottom: 1px;
    height: 44px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}


.btn-group-vertical {
    width: 100%;
}

.header-logout {
    font-size: 18px;
}

.btn-light {
    background-color: #fcfcfc !important;
    color: #007bff;
}

.panel-title {
    font-size: 42px !important;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 40px auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    font-weight: 700;
}

.form-signin-heading {
    font-weight: bold;
    font-size: 28px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal-body label, .form-group label {
    margin-top: 12px;
    margin-bottom: 4px;
    font-weight: bold;
}

